header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        // margin-top: auto;
        // margin-bottom: auto;
        h2 {
            font-size:20px;
        }
        &--green {
            color: $green;
        }
        &--grey {
            color: $grey;
        }
    }
    .nav {
        // margin-top: auto;
        // margin-bottom: auto;
        ul {
            display: flex;
            flex-direction: row;
        }
        li {
            color: $grey;
            margin: 0 10px;
            font-size: 14px;
            list-style: none;
            a {
                text-decoration: none;
                color: $grey;
            }
        }
    }
}